#header
	h1 Unicorns + Ninjas + Spaceships + Chocolate + Rainbows = Javascript
	div.menu
		ul
			li 
				a(rel="/rels/switch-to", href="/javascripts/editable/scratch.js") Scratch
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/panda-1.js") Panda 1
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/panda-2.js") Panda 2
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/panda-3.js") Panda 3
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/panda-4.js") Panda 4
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/panda-5.js") Panda 5
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/if-there-is-time.js") Bonus
			li
				a(rel="/rels/switch-to", href="/javascripts/editable/if-there-is-more-time.js") Bonus 2
#app