!!!
html
  head
    title Javascript is awesome!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
  script(type='text/javascript', src='/javascripts/underscore/underscore.js')
  script(type='text/javascript', src='/javascripts/jslint/jslint.js')
  script(type='text/javascript', src='/javascripts/jquery/jquery-1.7.1.js')
  script(type='text/javascript', src='/javascripts/jquery/plugins/jquery-bbq.js')
  script(type='text/javascript', src='/javascripts/jquery/plugins/jquery-mousewheel.js')
  script(type='text/javascript', src='/javascripts/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/ace/ace-uncompressed-noconflict.js')
  script(type='text/javascript', src='/javascripts/ace/theme-twilight-noconflict.js')
  script(type='text/javascript', src='/javascripts/ace/mode-javascript-noconflict.js')
  script(type='text/javascript', src='/javascripts/diffmatchpatch/diff_match_patch.js')
  script(type='text/javascript', src='/javascripts/base/base.js')
  script(type='text/javascript', src='/javascripts/nice/nice/nice.js')
  script(type='text/javascript', src='/javascripts/nice/app/app.js')
  script(type='text/javascript', src='/javascripts/nice/app/broker.js')
  script(type='text/javascript', src='/javascripts/nice/app/feature.js')
  script(type='text/javascript', src='/javascripts/nice/app/hash.js')
  script(type='text/javascript', src='/javascripts/nice/app/stateAggregator.js')
  script(type='text/javascript', src='/javascripts/nice/ui/ui.js')
  script(type='text/javascript', src='/javascripts/nice/ui/windowMonitor.js')
  script(type='text/javascript', src='/javascripts/nice/ui/slider.js')
  script(type='text/javascript', src='/javascripts/nice/ui/slidingPanel.js')
  script(type='text/javascript', src='/javascripts/nice/ui/tween.js')
  script(type='text/javascript', src='/javascripts/nice/ui/view.js')
  script(type='text/javascript', src='/javascripts/nice/ui/twoPanelView.js')
  script(type='text/javascript', src='/javascripts/devled/dev-led.js')
  script(type='text/javascript', src='/javascripts/devled/assert.js')
  script(type='text/javascript', src='/javascripts/devled/code-view.js')
  script(type='text/javascript', src='/javascripts/devled/output-view.js')