border-radius(args...)
	-webkit-border-radius args
	-moz-border-radius args
	border-radius args

box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

text-shadow(args...)
	-webkit-text-shadow args
	-moz-text-shadow args
	text-shadow args