@font-face
	font-family OrbitronMedium
	font-style normal
	src url(/fonts/orbitron/orbitron-medium-webfont.ttf)

@font-face
	font-family OrbitronLight
	font-style normal
	src url(/fonts/orbitron/orbitron-light-webfont.ttf)

@font-face
	font-family OrbitronBold
	font-style normal
	src url(/fonts/orbitron/orbitron-bold-webfont.ttf)

@font-face
	font-family OrbitronBlack
	font-style normal
	src url(/fonts/orbitron/orbitron-black-webfont.ttf)